[build-system]
requires = ["setuptools >= 80.9.0"]
build-backend = "setuptools.build_meta"

[project]
name = "pygments-netlogo"
version = "0.0.1"
dependencies = ["pygments"]
readme = "README.md"

[project.entry-points."pygments.lexers"]
netlogo_lexer = "netlogo:NetLogoLexer"
